body {
    background-size:cover;
    background-repeat:no-repeat;
    background-color: gray;
    background-position-x: center;
    background-blend-mode:color-burn;

}
a {
    color:white;
    /*background-color: #3E7BE3;*/
    background-color: #002F44;
}

a:hover{
    background-color:navy;
    
}

button:hover{
    background-color:navy;
    border-color:navy;
    
}

.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}
.rclogo{
    display:block;
    width:175px;
    margin-left: auto;
    margin-right: auto;
 
}
.rcbutton{
    background-color:#002F44;
    border-radius:5px;
    border-color:#002F44;
    display:block;
    margin-left:auto;
    margin-right:auto;
    
}



.outer{
    height:100%;
}

.content{
    margin:auto;
    width:fit-content;
    position:relative;
    align-self:center;
}
.body-text{
    font-family: 'Verdana';
    color: white;

}

.header {
    font-weight: bolder;
    text-align: center;
    font-size: 20pt;
}